.header
  .header__top
    .header__top__circle
      %p.header__top__circle__text
        2017年
        %br
        6月30日
        %br
        まで
    %p.header__top__body アプリからの予約でスペース利用料が3,000円OFF！いつでも、どこでもレンタルスペースを検索、予約！
    %p.header__top__camp キャンペーン詳細へ
  .header__nav.clear-fix
    %ul.row
      %li.header__nav__list
        = link_to root_path, class: 'header__nav__list__button' do
          スペースを投稿する
          %i.fa.fa-sort-desc
      %li.header__nav__list
        = link_to root_path do
          %i.fa.fa-envelope.fa-lg
      %li.header__nav__list
        = link_to root_path do
          Kojiro Aoki
          %i.fa.fa-sort-desc
