.container {
  background-color: $gray;
  padding: 0 12px;
  border-top: solid 1px $light-gray;
  color: $dark;
  min-height: 300px;
  height: calc( 100vh - 165px - 96px );
  overflow-y: scroll;
}
.reservation {
  padding: 30px 12px 30px;
  margin: 0 auto;
  width: 94%;
  max-width: 1110px;
  &__left {
    float: left;
    width: 33%;
    &__info {
      border: solid 1px $light-gray;
      border-radius: 3px;
      background-color: $white;
      &__title {
        height: 50px;
        line-height: 50px;
        border-bottom: solid 1px $light-gray;
        font-size: 14px;
        font-weight: bold;
        padding-left: 16px;
        background-color: #eee;
      }
      &__body {
        &__image {
          width: 80px;
          height: 80px;
          float: left;
          margin: 16px;
        }
        &__text {
          font-size: 14px;
          float: left;
          width: calc( 345px - 128px );
          margin: 16px 16px 16px 0;
        }
      }
    }
  }
  &__right {
    float: left;
    margin-left: 40px;
    &__title {
      font-size: 20px;
      margin-bottom: 12px;
    }
    &__price {
      background-color: $dark;
      color: $white;
      width: 110px;
      padding: 6px 0 6px 12px;
      border-radius: 3px;
      &--yen {
        font-weight: bold;
        font-size: 16px;
      }
      &--time {
        font-size: 14px;
        margin-left: -2px;
      }
    }
    &__form {
      margin-top: 12px;
      &__title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 4px;
      }
      &__date {
        background-color: $white;
        padding: 16px;
        border: solid 1px $light-gray;
        margin-bottom: 32px;
        width: 47.6vw;
        &__month {
          font-weight: bold;
          font-size: 18px;
          text-align: center;
          margin: 8px 0 20px;
        }
        &__week {
          background-color: $gray;
          &__name {
            width: 6.8vw;
            text-align: center;
            border: solid 1px $light-gray;
          }
        }
        &__day {
          height: 84px;
          &__name {
            width: 6.8vw;
            border: solid 1px $light-gray;
            position: relative;
            &--gray {
              background-color: $gray;
            }
            &--day {
              font-size: 14px;
              position: absolute;
              top: 4px;
              left: 8px;
              &--gray {
                color: $dark-gray;
              }
            }
            &--price {
              font-size: 12px;
              color: $green;
              text-align: center;
              height: 84px;
              line-height: 84px;
              &:hover {
                background-color: $gray;
              }
              &--gray {
                color: $dark-gray;
              }
            }
          }
        }
        &__time {
          margin-top: 12px;
          border: solid 1px $light-gray;
          border-left: hidden;
          border-bottom: hidden;
          &__list {
            border-left: solid 1px $light-gray;
            border-bottom: solid 1px $light-gray;
            width: calc( 11.77vw - 16px );
            float: left;
            font-size: 14px;
            padding: 8px;
            &--unavailable {
              background-color: $gray;
              color: $dark-gray;
            }
            &--circle {
              float: left;
              color: $green;
              font-weight: bold;
              font-size: 22px;
              line-height: 42px;
              .fa-times {
                color: $dark-gray;
              }
              .fa-check {
                color: $white;
              }
            }
            &__right {
              float: right;
              &--time {
                font-weight: bold;
                text-align: right;
              }
              &--price {
                font-weight: bold;
                text-align: right;
                color: $green;
                &--unavailable {
                  color: $dark-gray;
                }
              }
            }
          }
        }
      }





      &__date {
        float: left;
      }
      &--select {
        padding: 8px 30px 8px 10px;
        height: 39px;
        background-color: $white;
        border-radius: 0;
        line-height: 14px;
        -webkit-appearance: none;
      }
      &--label {
        position: relative;
        .fa {
          position: absolute;
          top: 4px;
          right: 16px;
          color: $blue;
          line-height: 0;
          font-size: 16px;
        }
      }
      &--text {
        margin-right: 12px;
        font-size: 16px;
      }
      &__time {
        float: left;
      }
      &__submit {
          margin: 36px 0 28px;
        &__button {
          background-color: $blue;
          border: none;
          -webkit-appearance: none;
          color: $white;
          border-radius: 3px;
          font-size: 16px;
          font-weight: bold;
          padding: 12px 32px;
          cursor: pointer;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
    &__confirm {
      width: 600px;
      background-color: $white;
      padding: 20px;
      &__body {
        border-bottom: 1px dotted $light-gray;
        margin-bottom: 16px;
        padding-bottom: 12px;
        &__title {
          width: 160px;
          float: left;
        }
        &__text {
          font-weight: bold;
          float: left;
          &--price {
            font-size: 18px;
          }
          &--sub {
            font-size: 14px;
            font-weight: normal;
          }
        }
      }
      &__button {
        &__text {
          float: left;
          color: $white;
          font-size: 14px;
          font-weight: bold;
          width: 160px;
          text-align: center;
          margin-left: 20px;
          padding: 10px 0;
          border-radius: 3px;
          margin-top: 20px;
          &--top {
            background-color: $blue;
            &:hover {
              background-color: #87CEEB;
            }
          }
          &--user {
            background-color: $green;
            &:hover {
              background-color: #90EE90;
            }
          }
          &--cancel {
            background-color: $dark-gray;
            &:hover {
              background-color: $light-gray;
            }
          }
        }
      }
    }
  }
}

.hidden {
  display: none;
}

.dark {
  background-color: $dark;
}

.white {
  color: $white;
}

.green {
  background-color: $green;
}

.time-select-button--unavailable {
  pointer-events: none;
}
