.footer
  .footer__info
    .footer__info__logo
      = image_tag '//cdn.spacemarket.net/assets/service/logo-white-e45bfa7a1d154ca89423b11ddcb15ae7.svg'
    .footer__info__sign.clear-fix
      = link_to root_path do
        %p.footer__info__sign__text.footer__info__sign__text--user アカウント登録する
      = link_to root_path do
        %p.footer__info__sign__text.footer__info__sign__text--owner ホスト登録する
  .footer__copy
    = image_tag '//cdn.spacemarket.net/assets/service/footer/logo_spmkt-b1fc5a1187112c5c9aedc8bfc787d2b2.png', class: 'footer__copy__logo'
    %span.footer__copy__text  © Space Market, Inc. 
